<div class="main">
  <div class="talent-col">
    <div class="talent-row single">
      <div class="talent-node square" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/spell_frost_chainsofice.jpg);">
        <div class="counter">0/2</div>
      </div>
    </div>
    <div class="talent-row single square">
      <div class="talent-node inactive"
      >
      </div>
    </div>
    <div class="talent-row single square">
      <div class="talent-node inactive">
      </div>
    </div>
    <div class="talent-row double">
      <div class="talent-node inactive square">
      </div>
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row single round">
      <div class="talent-node inactive">
      </div>
    </div>
    <div class="talent-row triple">
      <div class="talent-node inactive round">
      </div>
      <div class="hexagon inactive">
      </div>
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row single">
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row single">
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row single left">
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row single">
      <div class="talent-node inactive square">
      </div>
    </div>
  </div>
  <div class="talent-col fill">
    <div class="talent-row empty"></div>
    <div class="talent-row empty"></div>
    <div class="talent-row single">
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row empty"></div>
    <div class="talent-row empty"></div>
    <div class="talent-row empty"></div>
    <div class="talent-row empty"></div>
    <div class="talent-row single">
      <div class="talent-node inactive square">
      </div>
    </div>
    <div class="talent-row single">
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row empty"></div>
  </div>
  <div class="talent-col">
    <div class="talent-row single">
      <div class="talent-node square" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/spell_frost_chainsofice.jpg);">
        <div class="counter">0/2</div>
      </div>
    </div>
    <div class="talent-row single">
      <div class="talent-node inactive square">
      </div>
    </div>
    <div class="talent-row single">
      <div class="talent-node inactive square">
      </div>
    </div>
    <div class="talent-row double">
      <div class="talent-node inactive square">
      </div>
      <div class="talent-node inactive square">
      </div>
    </div>
    <div class="talent-row single">
      <div class="talent-node inactive square">
      </div>
    </div>
    <div class="talent-row triple">
      <div class="talent-node inactive square">
      </div>
      <div class="hexagon inactive">
      </div>
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row single">
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row single">
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row empty"></div>
    <div class="talent-row single">
      <div class="talent-node inactive square">
      </div>
    </div>
  </div>
  <div class="talent-col fill">
    <div class="talent-row empty"></div>
    <div class="talent-row empty"></div>
    <div class="talent-row single round">
      <div class="talent-node inactive">
      </div>
    </div>
    <div class="talent-row empty"></div>
    <div class="talent-row empty"></div>
    <div class="talent-row empty"></div>
    <div class="talent-row empty"></div>
    <div class="talent-row single">
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row single">
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row empty"></div>
  </div>
  <div class="talent-col">
    <div class="talent-row single">
      <div class="talent-node square" style="background-image: url(https://wow.zamimg.com/images/wow/icons/large/spell_frost_chainsofice.jpg);">
        <div class="counter">0/2</div>
      </div>
    </div>
    <div class="talent-row single">
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row single">
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row double">
      <div class="talent-node inactive square">
      </div>
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row single">
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row triple">
      <div class="talent-node inactive square">
      </div>
      <div class="hexagon inactive">
      </div>
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row single">
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row single">
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row single right">
      <div class="talent-node inactive round">
      </div>
    </div>
    <div class="talent-row single">
      <div class="talent-node inactive square">
      </div>
    </div>
  </div>
</div>
